name: stack-demo

on: # specify the build to trigger the automated ci/cd
push:
  branches:
    - "main"

    jobs:

      test:
        name: Test function hello_world
        runs-on: ubuntu-latest # specify the build machine
        steps:
          - #uses 
          uses: actions/checkout@v4
          name: Run assert checks
          run: sh hello_world.sh

      build:
        name: Build Docker image for deployment
        needs: test
        runs-on: ubuntu-latest # specify the build machine
        steps:
          - # checkout to the repository on the build machine
          name: Checkout
          uses: actions/checkout@v3
          - # login to Docker Hub using the secrets provided
          name: Login to Docker Hub
          uses: docker/login-action@v2
          with:
            username: $
            password: $
            - # create a build kit builder instance
            name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v2
            - # build the container image and push it to Docker \
            # Hub with the name clockbox.
            name: Build and push
            uses: docker/build-push-action@v4
            with:
              context: .
              file: ./Dockerfile
              push: true
              tags: $/stack-demo:latest
