name: stack-demo

on: # specify the build to trigger the automated ci/cd
  push:
    branches:
      - "main"

jobs:

  test:
    name: Test function hello_world
    runs-on: ubuntu-latest # specify the build machine
    steps:
      - name: Run assert checks
        uses: actions/checkout@v4
      - run: |
          sh hello_world.sh
          exit 0


  build:
    name: Build Docker image
    needs: test
    runs-on: ubuntu-latest # specify the build machine
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: $/stack-demo:latest
